/**
 * Ruby syntax highlighting classes, details/summary
 */

.ruby-comment { color: var(--ruby-comment); }
.ruby-const { color: var(--ruby-const); }
.ruby-embexpr-beg, .ruby-embexpr-end, .ruby-period { color: var(--ruby-embexpr); }
.ruby-ident, .ruby-symbeg { color: var(--ruby-ident); }
.ruby-ivar, .ruby-cvar, .ruby-gvar, .ruby-int, .ruby-imaginary, .ruby-float, .ruby-rational { color: var(--ruby-number); }
.ruby-kw { color: var(--ruby-keyword); }
.ruby-label, .ruby-tstring-beg, .ruby-tstring-content, .ruby-tstring-end { color: var(--ruby-string); }

summary { cursor: pointer; }
input[type="datetime-local"],
input[type="date"],
input[type="time"] {
  width: fit-content;
}
details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
