<div class="content is-large">
  <h3 class="title is-3">The Maintenance Tasks gem has been successfully installed!</h3>
  <p>
    Any new tasks will show up here. To start writing your first task,
    run <code>bin/rails generate maintenance_tasks:task my_task</code>.
  </p>
</div>
