<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-container">
    <%= link_to maintenance_tasks.root_path, class: "navbar-brand" do %>
      <span class="navbar-brand-title"><%= maintenance_tasks_ui_app_name %></span>
      <span class="navbar-brand-subtitle">Maintenance Tasks</span>
    <% end %>
  </div>
</nav>
